.App {
  font-family: Arial, sans-serif;
  text-align: center;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-list {
 width: 100%;
 height: 150vh;
 background-color: blueviolet;


}

.show_list_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  gap: 50px;
}
.title{
  font-size: 15px;
  font-weight: 700;
}
.detail_button{
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: rgb(243, 15, 152);
  color: white;
  font-weight: 700;
  border-radius: 10px;
  margin: 5px 0px;
}



.container{
  background-color: burlywood;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.show-details {
  background-color: rgb(217, 37, 241);
  border-radius: 10px;
  height: 90vh;
  max-width: 800px;

}

.show-details h1 {
  margin: 15px;
}

.show-details img {
  max-width: 100%;
  margin-bottom: 20px;
}

.show-details p {
  text-align: left;
  font-size: 20px;
  padding: 10px 10px;
}

.show-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.show-details button:hover {
  background-color: #0056b3;
}
.booking-form{
  max-width: 600px;
  height: 80vh;
  background-color: rgb(95, 95, 218);
  border-radius: 10px;
  display: flex;
  flex-direction: column;justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 500px;
}
.booking-form img{
  margin-top: 10px;
}
.form_title{
  margin-top: 20px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form label {
   font-size: 15px;
   font-weight: 600;
   position: relative;
   top: 23px;
   left: -120px;
  
}
form input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    padding-left: 10px;
}
form button{
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

}
